	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<% content_for :javascript_includes do %>
			<%= javascript_include_tag "deadlineHandler.js" %>
		<% end %>
	</head>



	<body>
		<div id="container" class="container">

			<div id="flashes" class="row">
				<div class="col-lg-12">
					<% flash.each do |name, msg| -%>
						<%= content_tag :div, msg, class: "alert alert-#{name}" %>
					<% end -%>
				</div>
			</div>

			<h1 class="page-header">Edit Note/Goal</h1>
			
			<div id="form" class="row">
				<div class="col-lg-12">
					<%= form_for(@note, html: {class: 'form-horizontal'})  do |f| %>

						<% if @note.errors.any? %>
							<div id="error_explanation">
								<h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

								  <ul>
									  <% @note.errors.full_messages.each do |message| %>
										<li><%= message %></li>
									  <% end %>
								  </ul>
							</div>
						<% end %>

						<div class="field form-group">
							<%= f.label :title, class: 'col-lg-1 control-label' %>
							<div class="col-lg-4">
								<%= f.text_field :title, class: 'form-control' %>
							</div>
						</div>
						
						<div class="field form-group">
							<%= f.label :category, "Type", class: 'col-lg-1 control-label' %>
							<div class="col-lg-2">
								<%= f.select(:category, options_for_select([['Note', 0], ['Goal', 1]]), {}, {id: 'category', class: 'form-control'}) %>
							</div>
						</div>

						<div class="field form-group">
							<%= f.label :description, class: 'col-lg-1 control-label' %>
							<div class="col-lg-4">
								<%= f.text_area :description, class: 'form-control' %>
							</div>
						</div>
						
						<div class="field form-group">
							<%= f.label :deadline, 'Deadline', id: 'deadline_label', class: 'col-lg-1 control-label' %>
							<div class="col-lg-6">
								<%= f.date_select :deadline, order: [:year, :month, :day], prompt: { year: 'Select year', month: 'Select month', day: 'Select day' }, class: 'form-control' %>
							</div>
						</div>

						<div class="actions form-group">
							<div class="col-lg-offset-1 col-lg-1">
								<%= button_tag(type: 'submit', class: "form-control btn btn-success btn-md") do %>
									<i class="icon-ok icon-white"></i> Save
								<% end %>
							</div>
							
							<div class="col-lg-1">
								<%= link_to @note, method: :delete, data: { confirm: 'Are you sure?' }, class: "form-control btn btn-danger" do %>
									<i class="icon-ok icon-white"></i> Delete
								<% end %>
							</div>
							
							<div class="col-lg-1">
								<%= link_to note_path, class: "form-control btn btn-primary" do %>
									<i class="icon-ok icon-white"></i> Back
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</body>