<head><meta name="viewport" content="width=device-width, initial-scale=1"></head>

<div id="container" class="container">

	<div id="flashes" class="row">
		<div class="col-lg-12">
			<% flash.each do |name, msg| -%>
				<%= content_tag :div, msg, class: "alert alert-#{name}" %>
			<% end -%>
		</div>
	</div>

	<div id="header" class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Notes and Goals</h1>
		</div>
	</div>
</div>

<div id="container" class="container">
	<% if @notes.blank? %>
		<div id="empty" class="row">
			<div class="col-lg-offset-5 col-lg-12">
				<p>There are not any notes currently in the system.</p>
			</div>
		</div>
	<% else %>
		
	<div id = "notes" class="row">
		<div class="col-lg-offset-4 col-lg-4">
			<% @notes.each do |created_at, notes| %>
			
					<h3> Created: <%= created_at %> </h3>
					
						
							<table id = "grouped-notes", class="table table-hover">
								<% notes.each do |note| %>
									<tr>
											
										<td><%= link_to note.title, {:action => 'show', :id => note.id} -%></td>
												
										<% if note.category == false %>
											<td><%= label_tag 'category', 'Note' %></td>
										<% else %>
											<td><%= label_tag 'category', 'Goal' %></td>
											<td><%= note.deadline %></td>
										<% end %>
												
									</tr>
								<% end %>
							</table>
						
				
			<% end %>
		</div>
	</div>
		
	<% end %>
		
	<div id = "notes" class="row">
		<div class="col-lg-offset-5 col-lg-12">
			<%= link_to new_note_path, class: 'btn btn-primary btn-md' do %>
				<i class="glyphicon glyphicon-plus"></i> Add new Note
			<% end %>
		</div>
	</div>
</div>