<head><meta name="viewport" content="width=device-width, initial-scale=1"></head>

<div id="container" class="container">

	<div id="flashes" class="row">
		<div class="col-lg-12">
			<% flash.each do |name, msg| -%>
				<%= content_tag :div, msg, class: "alert alert-#{name}" %>
			<% end -%>
		</div>
	</div>

	<div id="header" class="row">
		<div class="col-lg-12">
			<% if @note.category == false%>
				<h1 class="page-header text-center"><%= @note.title %>  <small>(Note)</small></h1>
			<% else %>
				<h1 class="page-header text-center"><%= @note.title %>  <small>(Goal)</small></h1>
			<% end %>
		</div>
	</div>

	<div class="container">
		<h2></h2>
		<p class="lead"><%= @note.description %></p>

		<% if @note.category == true%>
			<p>
				Deadline: <br>
				<%= @note.deadline %>
			</p>
		<% end %>

		<p>
			Time Created: <br>
			<%= @note.created_at %>
		</p>

		<p>
			Last Update: <br>
			<%= @note.updated_at %>
		</p>
	</div>

	<div class="row">
		<div class="col-lg-offset-4 col-lg-1">
			<%= link_to edit_note_path, class: "btn btn-success" do %>
				<i class="icon-ok icon-white"></i> Edit
			<% end %>
		</div>
	
		
	
		<div class="col-lg-1">
			<%= link_to @note, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
				<i class="icon-ok icon-white"></i> Delete
			<% end %>
		</div>
	
	
	
		<div class="col-lg-1">
			<%= link_to note_index_path, class: "btn btn-primary" do %>
				<i class="icon-ok icon-white"></i> Back
			<% end %>
		</div>
	</div>
</div>